body{
    background:#9FD4D3;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding:10px;
    margin: 10px;
    background: #97A2C9;
    border-radius: 15px;
}

.assignment img {
    width:300px;
    margin:10px;
    border:2px solid black;
}
.assignment img:hover{
    border:2px solid #A68372;
}

hl{
    color: black;
    text-align:center;
}

a {
    text-decoration: none;
    color: #494963;
}